/build
/bin
/src/*.*~
/src/.#vk_engine.cpp
/src/.cache
logger_test.cpp
logger_test.exe
/third_party/*.*~
/assetlib/.*
/assetlib/#*.*#*
/assetlib/*.*~
/.cache
/asset_baker/*.*~
compile_commands.json
/CMakeFiles
/.vscode
/VulkanEngine
debug
src/CMakeFiles
/shaders/*.*~
/shaders/*.*.*~